<div class="score-admin">
    <div ng-repeat="match in sac.matches | orderBy:'-date'" class="match">

        <div class="col-lg-4 col-sm-4 col-xs-2 col-md-4 text-right clearfix">
            <span class="localteam">
                <img ng-src="{{ match.localTeam.flag }}" class="pull-right" />
                <label class="hidden-xs col-xs-6 pull-right text-center">{{ match.localTeam.name }}</label>
            </span>
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-4 text-center betvalue">
            <form name="scoresForm" novalidate>
                <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 ">
                    <input class="form-control text-center" name="inputScoreLocal" type="number" ng-model="match.localScore" placeholder="score" ng-required ng-change="sac.onChange(match)"/>
                </span>
                <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 ">
                    <input class="form-control text-center" name="inputScoreAway"  type="number" ng-model="match.awayScore" placeholder="score" ng-required ng-change="sac.onChange(match)"/>
                </span>
            </form>
        </div>

        <div class="col-lg-4 col-sm-4 col-xs-2 col-md-4 text-left" >
            <span class="awayteam">
                <img ng-src="{{ match.awayTeam.flag }}" class="pull-left"/>
                <label class="hidden-xs col-xs-6 pull-left text-center">{{ match.awayTeam.name }}</label>
            </span>
        </div>
    </div>
</div>