<div class="btn-group">
    <label class="btn" ng-model="bsc.bet.value" ng-class="bsc.buttonStyle('ONE')" btn-radio="'ONE'" uncheckable ng-change="bsc.onChange()" ng-disabled="bsc.disabled">1</label>
    <label class="btn" ng-model="bsc.bet.value" ng-class="bsc.buttonStyle('N')" btn-radio="'N'" uncheckable ng-change="bsc.onChange()" ng-disabled="bsc.disabled">N</label>
    <label class="btn" ng-model="bsc.bet.value" ng-class="bsc.buttonStyle('TWO')" btn-radio="'TWO'" uncheckable ng-change="bsc.onChange()" ng-disabled="bsc.disabled">2</label>
</div>